@import './assets/scss/variables.scss';

body {
  margin: 0;
  font-family: 'Noto Sans', 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $ExtraDarkBg;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.appContent {
  background-color: $DarkBg;
}
